// Brand Colors
$brand-blue: #0089ed;
$brand-orange: #ff7f34;
$sky-blue: #42caf0;

// Accent Colors
$white: #ffffff;
$lime-green: #c6fd7e;
$neon-green: #d5ff2e;
$mellow-yellow: #ffd854;
$dust-red: #f5222d;

// Other Colors
$clever-blue: #4274f6;

// Ui colors
$error: #e40029;
$success: #04d847;
$warning: #e4b200;

// Text Colors
$gray-0: #fdfdfd;
$gray-1: #f4f4f4;
$gray-2: #e5e5e5;
$gray-3: #b7b7b8;
$gray-4: #9fa0a0;
$gray-5: #878888;
$gray-6: #6f7070;
$gray-7: #4b4c4d;
$gray-8: #282829;
$gray-9: #101011;

// Background Colors
$brand-blue-0: #e6f9ff;
$brand-blue-1: #a3e5ff;
$brand-blue-2: #7ad5ff;
$brand-blue-3: #52c2ff; // Dial/Light/Blue
$brand-blue-4: #28a9fa;
$brand-blue-5: #0089ed; // Brand/Blue
$brand-blue-6: #006dc7; // Pressed/Blue
$brand-blue-7: #0053a1;
$brand-blue-8: #003b7a;
$brand-blue-9: #002654;

$brand-orange-0: #fff8f0;
$brand-orange-1: #ffebd6;
$brand-orange-2: #ffd3ad;
$brand-orange-3: #ffba85;
$brand-orange-4: #ff9d5c;
$brand-orange-5: #f47225;
$brand-orange-6: #e45c18;
$brand-orange-7: #b34212;
$brand-orange-8: #8c2b07;
$brand-orange-9: #661b04;

$sky-blue-4: #99f0ff;

$lime-green-3: #dcffa8;
